.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 1rem 2rem;
  border: 2px solid hsl(var(--accent));
  border-radius: 100px;
  font-size: 1.125rem; /* text-lg */
  font-weight: 600; /* font-semibold */
  background-color: transparent;
  color: hsl(var(--accent));
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 20px;
  fill: hsl(var(--accent));
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: hsl(var(--accent));
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  color: hsl(var(--accent-foreground));
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: hsl(var(--accent-foreground));
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px hsl(var(--accent));
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

